<head>
    <title><%=article.slug%></title>
</head>
<body>
    <div class="container">
        <h1 class="mb-1"><%=article.title%></h1>
        <div class="text-muted mb-2">
            <%=article.createdAt.toLocaleDateString()%>
        </div>
        <a href="/" class="btn btn-secondary">All articles</a>
        <% if(typeof user != 'undefined' && (article.author == user.id)) { %>
            <a href="/articles/edit/<%=article.id%>" class="btn btn-info">Edit</a>
            <% }%>
        <div class="mt-4">
            <%-article.sanitizedHtml%> 
        </div>
    </div>
</body>